body {
	margin: 0px;
	padding: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: #373E48;
	text-align: center;
}
a {
	color: #000000;
}
#header {
	height: 163px;
	background-image: url('http://www.explosm.net/images/prdy/header-bg.jpg');
}
#logo {
	height: 74px;
	width: 257px;
	float: left;
}
#maincontent {
	width: 748px;
	float: left;
}
#bodycontent {
	width: 728px;
	margin: 10px;
}
#thebodycontent {
	width: 734px;
	margin: 7px;
}
#themenu {
	height: 163px;
}
#sidebar {
	width: 160px;
	text-align: center;
	float: right;
	margin: 7px;
}
.contentadstrip {
	margin: 16px 0px;
}
.contentad {
	margin: 10px 0px;
}
#squaread {
	background-color: #FFFFFF;
	padding: 14px;
	border: 3px solid #FF9900;
}
#footer {
	height: 25px;
	border-top: 6px solid #373E46;
	padding: 3px 7px 0px 7px;
	font-size: 12px;
	background-color: #EEEEEE;
}
#copyright {
	width: 150px;
	float: left;
	font: 12px arial;
	color: #000000;
}
#footerlinks {
	width: 500px;
	float: right;
	text-align: right;
	font: 12px arial;
	color: #000000;
}
.artthumb img {
	border: solid 2px #373E46;
}
.artthumb:hover img {
	border: solid 2px #ff9900;
}
.adstrip
{
	margin: 0 auto 10px auto; 
	width: 160px; 
	text-align: center; 
	background: #FFFFFF;
}
.adstrip_link
{
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 11px;  
	font-weight: normal;
}
.blogad_headline
{
	text-align: left;  
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 12px;  
	font-weight: bold;  
	color: #373E48;
}
.blogad
{
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}
.blogad_thumbnail
{
	border: none;
	text-align:left;
	background: none;
}
.blogad img
{
	border: solid 0px #000000;
}
.blogad_text
{
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 11px;  
	text-align: left;  
	color: #333333;
}
.blogad_link
{
	font-family: Arial, Helvetica, sans-serif;  
	font-size: 12px;  
	padding-top: 5px;  
	font-weight: bold;
}
.articleheader
{
	text-align: center;
	background-color: #DDDDDD;
	border-top: 8px solid #373E46;
	padding: 10px;
}
#sidebarmenu
{
	width: 160px;
	text-align: right;
	float: right;
	margin: 0px 7px 20px 7px;
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-size: 12px;
	color: #FFFFFF;
}
#userboxlinks a
{
	font-size: 10px;
	color: #FFFFFF;
}
.sidemenulink
{
	padding: 5px 0px;
	border-bottom: 1px dotted #4F545F;
	font-size: 12px;
}
.sidemenulinkbottom
{
	padding: 5px 0px 10px 0px;
}
.sidemenulink a, .sidemenulinkbottom a
{
	color: #FFFFFF;
	text-decoration: none;
}
.sidemenulink a:hover, .sidemenulinkbottom a:hover, .userboxlinks a:hover
{
	color: #FF9900;
}
#bffs
{
	font-size: 11px;
	text-align: center;
	line-height: 140%;
}
#bffs a
{
	color: #FFFFFF;
	text-decoration: none;
}
#bffs a:hover
{
	color: #FF9900;
}
